<div class="wrapper">
  <h2 class="department-heading">Department Entity</h2>
  <nav style="margin-bottom: 80px">
    <a routerLink="/department" class="nav-button">All Departments</a>
    {{ "  &nbsp;&nbsp;&nbsp; " }}
    <a routerLink="department/addDepartment" class="nav-button">
      Add Department
    </a>
  </nav>
  <router-outlet></router-outlet>

  <!-- <button (click)="getName('Mehedi')">Update</button>

  &nbsp;&nbsp;&nbsp;

  <button (click)="getId(50)">delete</button> -->

  <h2 style="margin-top: 100px">Counter Practice</h2>
  <app-counter></app-counter>
</div>
