<p style="text-align: center">Edit a department</p>

<div class="row" *ngIf="depart">
  <div class="col-sm-6 mx-auto">
    <p>Edit {{ depart.name | uppercase }} Details:</p>
    <form
      #departmentForm="ngForm"
      (ngSubmit)="getEditedDepartmentData(depart.id, departmentForm.value)"
      action=""
    >
      <input
        ngModel
        [(ngModel)]="depart.id"
        class="departmentInput"
        type="text"
        name="deptId"
        id="deptId"
        placeholder="Department Id"
      />
      <br />
      <input
        ngModel
        [(ngModel)]="depart.name"
        class="departmentInput"
        type="text"
        name="deptName"
        id="deptName"
        placeholder="Department Name"
      />
      <br />
      <div class="buttons row">
        <div class="col-6">
          <button type="submit" class="addOrUpdateDepartment">
            Edit Department
          </button>
        </div>
        <div class="col-6">
          <button (click)="goBack()" type="button" class="goBack">
            Go Back
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
